<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8 />
    <title>GeoGekko</title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.js'></script>
    <script src="/static/js/lib/main.js"></script>

    <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.css' rel='stylesheet' />
    <link href="/static/css/main.css" rel="stylesheet" />
</head>
<body>
<div id='map' class="dark"></div>

<pre id='coordinates' class='ui-coordinates'></pre>
<div id="search-container">
    <form id="filter-form">
        <input name="location" type="text" placeholder="Enter a Location" size="50" />

        <select name="time_of_week">
            <option value="-1">Time of Week</option>
            <option>Weekday</option>
            <option>Weekend</option>
        </select>

        <select name="time_of_day">
            <option value="-1">Time of Day</option>
            <option>Morning</option>
            <option>Afternoon</option>
            <option>Evening</option>
            <option>Night</option>
        </select>

        <button type="button" id="filter">Submit</button>
    </form>
</div>

</body>
</html>

<script>
    $(document).ready(function() {
        var LATITUDE = {{ start_lat }};
        var LONGITUDE = {{ start_lon }};

        GG.init(LATITUDE, LONGITUDE);
    });
</script>